.modal__backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 12;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.modal__container {
    padding: 48px 40px;
    background-color: #ffffff;
    border-radius: 8px;
}

@media (max-width: 769px) {
    .modal__container {
        width: 90%;
    }

    .modal__container {
        line-height: 22px;
    }
}
